@charset "UTF-8";
/*-------------------------
    初期値
-------------------------*/
body {
    background-color: #eee;
}
/*-------------------------
    グローバル
-------------------------*/
.wrapper {
    max-width: 960px;
    height: 500px;
    margin: auto;
    background-color: #fff;
    position: relative;
}
.error {
    color: red;
    text-align: center;
}
.getPage {
    margin-bottom: 15px;
    pointer-events: none;
}
/*-------------------------
    ヘッダー
-------------------------*/
.gl-nav ul {
    padding-left: 0;
}
.gl-nav li {
    width: 130px;
    display: table-cell;
    text-align: center;
    border: 1px solid #fff;
    background-color: black;
}
.gl-nav li:hover {
    background-color: #000033;
    border-bottom: solid red;
}
.gl-nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 3px 5px;
    display: block;
}
.logout-link {
    margin-left: 460px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
}
.top-p {
    margin-bottom: 0px;
}
/*-------------------------
    フッター
-------------------------*/
.gl-footer {
    text-align: right;
    bottom: 0;
    right: 0;
    margin-right: 5px;
}
.top-footer {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
}
.login-footer {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
}
.done-footer {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
}
/*-------------------------
    ログイン
-------------------------*/
.login-container {
    width: 55%;
    height: 200px;
    margin: auto;
    background-color: #eee;
    transform: translate(0px, 100px);
}
.login-table {
    position: absolute;
    top: 60px;
    bottom: 100px;
    left: 70px;
    right: 100px;
}
#login-id {
    width: 150%;
}
#login-pass {
    width: 150%;
}
.login-h1 {
    text-align: center;
    transform: translate(0px, 100px);
}
.login-button {
    position: absolute;
    top: 150px;
    bottom: 120px;
    left: 230px;
    right: 100px;
    width: 60px;
    height: 30px;
}
/*-------------------------
    roomリスト
-------------------------*/
.list-wrapper {
    max-width: 960px;
    min-height: 370px;
    margin: auto;
    background-color: #fff;
    position: relative;
}
.room_list-container {
    margin-top: 30px;
    margin-left: 45px;
    margin-right: 45px;
}
.room_list-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.room_list-table th {
    height: 50px;
    border: 0.5px solid black;
    font-weight: lighter;
}
.room_list-table td {
    height: 38px;
    border: 0.5px solid black;
}
.sort {
    border-style: none;
    background:rgba(255,0,0,0);
    color: blue;
}
.btn-style-link {
    display: inline-block;
    color: black;
    background-color: rgb(239, 239, 239);
    border:1px solid #ccc;
    padding:1px 6px;
    border-color: rgb(118, 118, 118);
    width: 48px;
    height: 30px;
    cursor: pointer;
    border-width: 1px;
    border-style: outset;
    border-image: initial;
}
.btn-style-link:hover {
    background-color: gray;
}
a:hover {
    color: black;
    text-decoration: none;
}
.flex-room_list{
    display: flex;
    padding: 1px;
    justify-content: center;
}
.flex-room_list div{
    justify-content: center;
    margin: 1px;
    padding: 1px;
}
/* .flex-room_list_div {
    width: 50px;
} */
.new-btn {
    width: 100px;
}
.edit-btn {
    width: 60px;
}
.delete-btn {
    width: 60px;
}
/*-------------------------
    roomedit
-------------------------*/
.edit-wrapper {
    max-width: 960px;
    min-height: 370px;
    margin: auto;
    background-color: #fff;
    position: relative;
}
.room_edit-table {
    width: 100%;
    border-collapse: collapse;
}
.room_edit-table th {
    height: 60px;
    border: 0.5px solid black;
    text-align: center;
}
.room_edit-table td {
    height: 38px;
    border: 0.5px solid black;
}
.room_edit-container {
    margin-top: 30px;
    margin-left: 45px;
    margin-right: 45px;
}
#room_edit-room-name-input {
    margin-left: 10px;
}
.room_edit-input-capacity {
    width: 40px;
}
.room_edit-input-remarks {
    width: 30%;
}
.room_edit-input-price {
    width: 70px;
}
.p-box {
    margin-top: 14px;
    padding-bottom: 12px;
}
.to-conf-btn {
    margin-top: 30px;
    margin-left: 350px;
    width: 20%;
}
.cancel-btn {
    margin-top: 30px;
    margin-left: 0px;
}
#room_edit-td-capacity {
    width: 106px;
    padding-bottom: 5px;
}
#room_edit-td-remarks {
    width: 424px;
    padding-bottom: 5px;
}
#room_edit-td-price {
    width: 212px;
    padding-bottom: 5px;
}
.indent {
    margin-left: 10px;
    margin-bottom: -20px;
}
.conf-cancel-btn {
    color: white;
    display: inline-block;
    background-color: rgb(118, 118, 118);
    border:1px solid #ccc;
    padding:1px 6px;
    border-color: black;
    width: 60px;
    height: 30px;
    cursor: pointer;
    border-width: 1px;
    border-style: outset;
    border-image: initial;
}
/*-------------------------
    img
-------------------------*/
.room_edit-img-table {
    width: 700px;
    border-collapse: collapse;
    margin-right: 0px;
    margin-left: 80px;
}
.room_edit-img-table th {
    text-align: center;
}
.upload-message {
    margin-left: 80px;
    color:red;
}
.up-img-btn {
    margin-left: 350px;
    width: 20%;
}
/*-------------------------
    conf
-------------------------*/
.room_conf-container {
    margin-top: 30px;
    margin-left: 45px;
    margin-right: 45px;
}
.conf-submit {
    margin-top: 30px;
    margin-left: 300px;
    width: 20%;
}
.conf-wrapper {
    max-width: 960px;
    min-height: 370px;
    margin: auto;
    background-color: #fff;
    position: relative;
}
/*-------------------------
    done
-------------------------*/
.room_done-container {
    margin-top: 30px;
    margin-left: 45px;
    margin-right: 45px;
}
.done-message {
    color: blue;
    text-align: center;
}